Flask==1.1.1
Flask-Cors==3.0.7
Flask-Sockets==0.2.1
flask_login
gevent==1.5a2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
redis
requests==2.22.0
requests_toolbelt
syft==0.2.6
Werkzeug==0.15.5
